@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    background-color: #fef9f8;
}




/* Employee Details  */
        .UserCard .head{
            margin-top: 5rem;

        }

        .UserCard .head h1{
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            
        }

        .UserCard button{
            font-size: 1.7rem;
            padding: 1rem 5rem;
            border-radius: .5rem;
            border: .2rem solid rgba(0, 0, 0, .3);
            margin:2rem 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        .UserCard button:hover{
            background-color: #ed9274;
            color:white;
            cursor: pointer;
        }

        .UserCard .progress{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-container .card{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 2rem 10%;
            grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
            gap:10rem;
            
        }

        .card-container .card .user-profile{
            text-align: left;
            font-size: 1.7rem;
            background-color: white;
            padding: 4rem;
            border-radius: 1rem;
        }


        .card-container .card .user-profile .image{
            text-align: center;
            
        }

        .card-container .card .user-profile .image img{
            border-radius: 50%;
            
        }

        .card-container .card .user-profile p{
            margin-top: 1rem;
        }


        @media(max-width:991px){

            html{
                font-size: 55%;
            }

        }

        @media(max-width:660px){
            html{
                font-size: 50%;
            }
        }